<div class="row">
  <div *ngIf="!isAuth" class="col-sm-4 col-sm-offset-4">
    <form (ngSubmit)="onSubmitForm(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">
          Email
        </label>
        <input type="text" placeholder="MyAdress@email.com" id="email" class="form-control" name="email" ngModel required>
      </div>
      <div class="form-group">
        <label for="password">
          Password
        </label>
        <input type="password" placeholder="MyPasswor" id="password" class="form-control" name="password" ngModel required>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Sign in</button>
      <a [routerLink]="['/new-user']">
        <button id="create-account-button" class="btn btn-success">Create account</button>
      </a>
    </form>
  </div>
  <div *ngIf="isAuth" class="col-sm-2 col-sm-offset-5">
      <button id="logout-button" class="btn btn-danger" (click)="signOut()">Sign out</button>
  </div>
</div>
